[2021-08-13 13:39] aome510 opened #1 "Release `v0.1.0`"
TODO list
- [x] add a demo/examples
- add documentation
  - [x] installation
     - [x] installation media
       - [x] add an AUR package
     - [x] setup guide for using Spotify APIs
  - [x] commands
  - [x] keymaps
  - [x] other configurations
- [x] add application introduction
- [x] roadmap?

[2021-08-15 11:52] #1 closed

[2021-10-05 11:54] 0323pin opened #10 "search functionality"
Hi,

I couldn't wait for a new release to try the search functionality, so I've built the software from the git-HEAD on my NetBSD system.

I'm having trouble using the search function on my keyboard layout, though.
"g / " is an easy shortcut on an us keyboard but, on a Swedish keyboard it's kind of hard as " / " needs a modifier and " g Shift 7 " doesn't do it.

Yes, "Shift 7" outputs " / " on my

[2021-10-05 21:41] aome510 commented on #10
Glad that you enjoy it 💪 .

I'm usually on pretty stable networks, either at home or at the office, so I haven't experienced any issues or slowlyness.

It's nice to hear that. If you experience any bugs or problems, feel free to open an issue here or email me.

Yeah, ikr, simplicity is also the first thing I consider when implement `spotify-player`

lol, good to know. I want to try `nushell` a few

[2021-10-09 21:24] aome510 commented on #10
@0323pin  FYI, I just release [`v0.3.0`](https://github.com/aome510/spotify-player/releases/tag/v0.3.0)

[2021-10-10 05:36] 0323pin commented on #10
Awesome, thanks.
I'll build it as soon as I get back home.
Away this weekend :)

[2021-10-14 18:45] aome510 opened #14 "Upgrade to `rspotify v0.11.x`"
`rspotify` recently released a new version [`v0.11`](https://github.com/ramsayleung/rspotify/releases/tag/v0.11.0) with a few [breaking changes and improvements](https://github.com/ramsayleung/rspotify/blob/v0.11.0/CHANGELOG.md). Time to do a big migration!

[2021-10-17 20:34] #14 closed

[2021-10-28 15:28] aome510 opened #22 "Prepare for `v0.5.0` release"
`spotify-player` has changed [a lot](https://github.com/aome510/spotify-player/compare/v0.1.0...master) since the version `v0.1.0`.

As the application has gradually become quite usable, `v0.5.0` is going to be the release to be announced on public forums such as HN and Reddit.

To prepare for this release, things probably need to do:

- [x] add a file logger.
- [x] add a library page and use it a

[2021-11-04 17:08] #22 closed

[2021-11-04 17:51] aome510 commented on #22
Hey @0323pin, I have published the new version [`v0.5.0`](https://github.com/aome510/spotify-player/releases/tag/v0.5.0) and made a [HN post](https://news.ycombinator.com/item?id=29110108). You can check those out =)).

I probably will make another Reddit post later today. So stay tuned for that as well 💪

[2021-11-04 18:36] aome510 commented on #22
@0323pin posted in [Reddit](https://www.reddit.com/r/rust/comments/qmr4e4/spotify_player_a_command_driven_music_player_on/)

[2021-11-04 18:46] 0323pin commented on #22
@aome510 If I knew, I'd wait until today.
Posted yesterday on reddit, https://www.reddit.com/r/UsabilityPorn/comments/qlwo8b/frankenwm_living_in_the_tui/

[2021-11-04 18:50] aome510 commented on #22
wow that looks nice 💪 !

[2021-11-04 19:23] 0323pin commented on #22
@aome510 feel free to use them, https://codeberg.org/pin/franken-nbsd/src/branch/main/home/.config/hn-tui.toml

https://codeberg.org/pin/franken-nbsd/src/branch/main/home/.config/spotify-player

I've just returned to a dark theme after more then a year using a light one.

[2021-11-04 23:01] 0323pin opened #27 "0.5.0 crashing badly"
@aome510 Unfortunately 0.5.0 is crashing badly, had no issues on 0.4.0

Log file by e-mail

[2021-11-04 23:25] aome510 commented on #27
Wow that sucks 😢 . I just looked into the log file and it looks fine to me.

Can you elaborate in more details how did it crash? Does it happen frequently? I'm using `v0.5.0` atm and it works normally for me.

[2021-11-04 23:29] aome510 commented on #27
@0323pin I can partially guess the problem but it's pretty weird that it doesn't report the error in the log file.

I guess the issue is because you specify `client = '******'` which spotify libraries don't like. Hope this solves the problem.

[2021-11-05 03:08] 0323pin commented on #27
No, that was just me covering my actual client ID and username on the log file.

Thread panic. I'll try to write it down old fashion way because the window takes no input and I have to kill it through the window manager to close it.

**Always**, as soon as I try to do a search or play a song, I haven't been able to do anything.

[2021-11-05 03:46] 0323pin commented on #27
@aome510 just one question before I go ahead and rebuild 0.5.0, what DE/WM do you use?

[2021-11-05 03:49] aome510 commented on #27
@aome510 I currently use macos daily. I still occasionally use Linux with i3 and Manjaro linux.

If it is thread panic, can you run `spotify_player 2> log.txt` and then send me the log file so I can see the thread panic messages?

[2021-11-05 04:03] 0323pin commented on #27
Yes, I can do that but, I need to re-build it first.
That said, i wonder if we can get anything there.
I can launch the app and navigatd the panes, the thread panic occurs when there is an input action.

I'll get back to you in 4 - 5 hours..

[2021-11-05 08:33] 0323pin commented on #27
@aome510 Here's the requested output. I can actually play songs but, only those which are accessible without search. Hiting Enter or searching crashes the player.

At least, I can still listen to music but, I feel that I should not merge the update as is. 0.4.0 is for now the version available for any other user.

[code]

[2021-11-05 12:54] aome510 commented on #27
Thanks @0323pin. The log is helpful.

Can you confirm that the below is what you did to produce the panic:
- Start `spotify-player` which gets you to the Library page
- Press '/' to search the page
- Type something then press `Enter`

Judging from the log, it seems that the error happens because `ChooseSelected` is called but there are any playlists to act on.

[2021-11-05 13:26] 0323pin commented on #27
@aome510 Yes, that's what I did to produce the thread panic.

I don't use playlists. Right now I'm stuck with _Alice In Chains - Dirt_, could be worst :)

I can start the song I was on by pressing Space but, if I hit Enter the same happens.

[2021-11-05 15:33] aome510 commented on #27
@0323pin pushed a fix in https://github.com/aome510/spotify-player/commit/7fa610b7f5b60d8e765f328a5a9d5698f2643230. Please let me know if the error still persists

[2021-11-05 19:53] 0323pin commented on #27
@aome510 This solved the issue, thanks! 🥇

Should I merge 0.5.0 building the package from 7fa610b or, would you like to release 0.5.1?
Thank you.

[2021-11-05 19:53] #27 closed

[2021-11-05 19:55] aome510 commented on #27
@0323pin great! I'll release `0.5.1` with the fix soon 💪

[2021-11-05 21:10] 0323pin commented on #27
Awesome thanks 👍

[2021-11-05 22:45] 0323pin commented on #27
@aome510 merged, https://mail-index.netbsd.org/pkgsrc-changes/2021/11/05/msg242861.html

[2021-11-08 17:58] Atrociously opened #28 "Stuck Loading Large Playlist"
Firstly I would like to say that I love this project but I have this one problem with it so far.

When I try to open a larger playlist that I have I run into problems, it gets stuck loading the playlist. But playback of the last item still works.

The issue title says that there is an issue opening large playlists but from what I could determine from the log files that I was looking through this l

[2021-11-08 18:06] aome510 commented on #28
Hi @Atrociously, thank you for trying this out.

Regarding the problem, I experienced the same thing before actually. My best guess at that time is that the playlist contains a deleted or unavailable track so the application cannot parse response into corresponding `Playlist` struct but haven't take a deeper look.

Hope this is a not big problem for you and it's one thing I can definitely look int

[2021-11-08 18:13] Atrociously commented on #28
Sure the specific playlist that I have been attempting to load is [this one](https://open.spotify.com/playlist/2RI4NLi6npcHfCNQQxP3nM), But that one is rather large so it may be difficult to find the problem going through that one. However there may be shorter playlists that have the same issue.

[2021-11-08 18:50] aome510 commented on #28
@Atrociously filed an issue in [rspotify](https://github.com/ramsayleung/rspotify/issues/279). They assume that `TrackId` is not null when getting a playlist's items but you seem to find a case when it is null.

[2021-11-11 15:17] 3JlOy-PYCCKUi opened #29 "Unable to login"
In the Requirements section of README.md it says

But without Spotify Premium account I could not log in by entering a correct password (I checked on the sporify website). The error was `Failed to authenticate`.

[2021-11-11 15:26] 3JlOy-PYCCKUi commented on #29
I just found an error in spotify-player.log (which is marked as WARN)
`spotify_player::auth: failed to authenticate: Login failed with reason: Premium account required`

I assume the readme should state that premium is required, not recommended

[2021-11-11 15:33] aome510 commented on #29
Hi @3JlOy-PYCCKUi, I just tried to reproduce by creating a new account and confirm the log you just sent.

Sorry for the confusion. I'll update the readme accordingly.

[2021-11-11 15:50] #29 closed

[2021-11-12 13:03] 3JlOy-PYCCKUi commented on #29
By the way, the fact that it does not work is not your fault, the library you use just does not support it, this is what it says in the librespot's readme

[2021-11-20 18:39] aome510 commented on #28
Should be fixed with https://github.com/ramsayleung/rspotify/pull/282

[2021-11-20 18:39] #28 closed

[2022-05-24 13:00] elkrien opened #38 "StreamError - not working"
I have installed player from AUR (btw it is still 0.5.1 version) and it is not working. This is what i see (look at the playlist - was not able to copy this error):
![image](https://user-images.githubusercontent.com/78103450/170040627-b3e1c8db-f633-46fc-9ce8-d0d6f178609a.png)

[2022-05-24 14:22] aome510 opened #39 "Looking for new maintainer for `spotify_player` AUR package"
I'm the maintainer of the [AUR `spotify_player`](https://aur.archlinux.org/packages/spotify-player) package. However, I'm no longer have access to an Arch machine. I'm looking for a new maintainer for this package.

Anyone if interested, please reply to this issue.

[2022-05-24 15:48] elkrien commented on #38
After installing last release by cargo error still persists.

[2022-05-24 15:54] aome510 commented on #38
Can you send me a log file and a backtrace file as described in [the README](https://github.com/aome510/spotify-player#logging)?

[2022-05-24 16:28] elkrien commented on #38
Please see log file. I didn't find any backtrace file in cache directory.
[spotify-player.log](https://github.com/aome510/spotify-player/files/8764571/spotify-player.log)

[2022-05-24 16:29] alosarjos opened #40 "MPRIS support?"
Hi there! Just found this project. It looks great! Congratulations on it.

Do you plan on adding MPRIS support so it can be controlled with media keys on Linux?

[2022-05-24 16:41] aome510 commented on #40
Yeah, it was on the roadmap :). However, I'm using MacOS now so MPRIS doesn't really work 😢 for me.

If there are many people requesting this feature, I can implement one.

For now, I guess you can use `spotify_player` as a [remote player](https://github.com/aome510/spotify-player#spotify-connect) to control another client, such as Spotify official client or [`spotifyd`](https://github.com/Spotify

[2022-05-24 16:43] alosarjos commented on #40
I've been using [spotiyd](https://github.com/Spotifyd/spotifyd) + [spotify-tui](https://github.com/Rigellute/spotify-tui) for some time, but there are some issues with spotifyd, and the repo looks like it's dying...

[2022-05-24 16:46] aome510 commented on #40
Oh, thanks for the context, you mean `spotify-tui` is dying? I can still see some active developments with `spotifyd`

[2022-05-24 16:48] alosarjos commented on #40
No, I meant `spotifyd`.  Some periodic commit bursts on master, which I guess are some MR being checked from time to time. Milestones haven't changed in 3 months...

[2022-05-24 16:50] alosarjos commented on #39
Sure, it's `alosarjos`, the same as here :)

[2022-05-24 16:51] aome510 commented on #39
Thanks, added. Can you try update the AUR package?

[2022-05-24 17:05] aome510 commented on #39
Thank you 🙇 .

That's definitely one thing I plan to add but always forget to do 😆

[2022-05-24 17:05] #39 closed, assigned to nobody

[2022-05-24 17:51] elkrien commented on #38
Yes, You are right. I was launching version installed by AUR. I uninstalled AUR version and the one built by cargo works - no more errors. Now I need to figure why I don't hear any sound :)

[2022-05-24 18:00] aome510 commented on #38
Sorry to hear that. Can you include log/backtrace files so I can look into the issue?

[2022-05-24 19:04] elkrien commented on #38
[spotify-player-22-05-24-21:04.log](https://github.com/aome510/spotify-player/files/8765581/spotify-player-22-05-24-21.04.log)
Backtrace is empty

[2022-05-24 19:58] aome510 commented on #38
I just realized that I incorrectly configured the backtrace, so it doesn't print all the panic messages.

Sorry for the back-and-forth, but can you try reproducing this error with the latest build from `master` by running

[code]

Then send me the backtrace file. Given the original error `StreamError`, the backtrace file should not be empty.

Thanks.

[2022-05-24 20:57] elkrien commented on #38
Here You are:
[code]

[2022-05-24 22:59] aome510 commented on #38
@elkrien thanks. My best guess is that the `rodio` library is unable to detect your audio backend. This is not because of `spotify-player`, so I’m afraid I don’t really know how to fix this 😢 .

Maybe you can try install/reinstall `pulseaudio-alsa` package as mentioned in https://github.com/bevyengine/bevy/discussions/2991. Or you can try build the application [using different audio backends](http

[2022-05-25 07:52] elkrien commented on #38
Installing pulseaudio-alsa solved the problem. All works great now. Nice project. The only thing I miss now is to be able to control player by playerctl (my bar works with playerctl that controls ncspot that I use). If this feature will be added to playerctl than this player will be my daily driver :)

[2022-05-25 07:52] #38 closed

[2022-05-25 07:56] elkrien commented on #40
Definitely MPRIS support would be great. For now I use playerctl to control my players by my bar and for now I need to use ncspot because of this. I really like spotify-player and that's the only way that keeps me with ncspot for now :( Please implement MPRIS...

[2022-05-25 08:11] elkrien opened #41 "Default device"
Just one more question. Each time I open spotify-player it starts using my TV as a device and music starts there. Is there an option to set my computer as a default device (player detects 3 devices that I have - my computer, TV and Denon player)?

[2022-05-25 14:44] aome510 commented on #41
This should be an easy-to-implement feature. Just want to have a confirmation,

AFAIK, `spotify-player` should respect the currently playing device and use it on startup. If no device is playing, it'll will connect to the first device in the list. If the player starts playing music in your TV (which is not playing before) on startup, it's a bug.

[2022-05-25 14:51] elkrien commented on #41
Here is the list of my devices:
![image](https://user-images.githubusercontent.com/78103450/170291072-e4a62fac-2a7c-4cd1-9f90-55cd3ad941c8.png)
Anytime I start spotify player it's playing on Sony TV. Even if I change it to spotify-player (computer) next time when I start application it's "playing" on Sony TV (it's paused but anyway TV changes it's mode) - and my kids are screaming from downstairs

[2022-05-25 14:54] aome510 commented on #41
Oh that's interesting lol. TIL about that TV behaviour when being requested to connect with Spotify. Thanks for the clarification.

[2022-05-25 17:39] alosarjos commented on #40
That crate looks promising. If you need someone to test the MPRIS on Linux just mention me whenever it's on a branch and will give it a try ;)

[2022-05-27 14:00] midnightexigent opened #42 "Daemonize device ?"
Currently whenever we leave the TUI, music stops playing. It would be better if music kept playing in the background.

Is such a feature in the roadmap ?

[2022-05-27 18:44] midnightexigent commented on #42
Actually after looking a bit further into this, I noticed that librespot itself is already a pretty feature-complete device/daemon. Is there any reason spotify-player needs to wrap and be a device itself ? Can't it just be a tui client ?

[2022-05-27 19:48] aome510 commented on #42
So `spotify-player` is made to be a TUI alternative to official Spotify app. Similar to the Spotify app, if you start streaming music there, quit the app will stop playing the music.

Not in a roadmap atm, but add a `--daemon` option should be trivial and it will become handy when [media control support](https://github.com/aome510/spotify-player/issues/40) is implemented. Without that, there is no

[2022-05-30 02:02] aome510 commented on #40
@alosarjos @elkrien I have added the cross-platform media control support. Can you try it out by running the latest build from the `master` branch:

[code]

I have tested the support on MacOS and briefly on Ubuntu 22.04, but couldn't test it on Windows.

[2022-05-30 05:04] alosarjos commented on #40
Tested on Arch Linux with Gnome. Looks good to me. Multimedia keys work. Control from the MPRIS notification work. The media info changes correctly. Looks great!!!

[2022-05-30 08:53] elkrien commented on #40
Tested on Arch Linux + LeftWM. Works great without any problems :)
I'm not able to test on Windows.

[2022-05-30 13:40] aome510 commented on #40
Thanks guys 🙇

[2022-05-30 13:40] #40 closed

[2022-05-31 04:02] aome510 commented on #41
@elkrien just implemented this with the latest change in `master`. The default device is "spotify-player" by default. You can also configure the default device by modifying [the general config file](https://github.com/aome510/spotify-player/blob/master/doc/config.md#general).

[2022-05-31 06:41] elkrien commented on #41
Tested. Works great - from now it's my default Spotify player. Great job.

Btw - I did themes for Catppuccin and it is now in official Catppuccin organization repositories and with link to spotify-player repo.
I hope it will also allow to let more people know about this great player:

https://github.com/catppuccin/spotify-player

You can close this issue as solved.

[2022-06-06 08:20] 0323pin opened #49 "media-control is not really cross platform"
Hi @aome510

I've finally enabled the `lyric-finder` option and built the package locally. It works really well, thanks!
I've asked internally if https://genius.com/ is an acceptable source of lyrics or, if we have any license concerns with it.
If all is ok, I'll merge an update later enabling this feature.

As for `media-control`, it will need to be off and not even possible to enable as an optio

[2022-06-06 14:26] aome510 commented on #49
Although we do support dbus, souvlaki does not support our OS, according to Cargo-toml,

That's unfortunate. I'll disable `media-control` feature by default for the next release.

In the meantime, can you raise an issue upstream in https://github.com/Sinono3/souvlaki. I guess if NetBSD supports DBus, adding a new target to that crate will not be a problem.

[2022-06-06 14:33] 0323pin commented on #49
@aome510 Thanks, but you don't need to disable it by default. As long as it's an optional feature, like it is now, I can disable it at build time. No worries, it was just an heads-up.

I was just looking at `src/platforms/linux/mod.rs` to see if there was anything Linux specific 😄
I think adding a new target might be all that is needed.

One last question if you don't mind. Did you get permission

[2022-06-06 14:46] aome510 commented on #49
Ah, thanks for the clarification.

No, I use their public search API (no permission required AFAIK) and web crawling to get lyric data. I'm not an expert on this, so not sure if that will be a legal problem. FYI, I was inspired by [`youtube-music`](https://github.com/th-ch/youtube-music/blob/master/plugins/lyrics-genius/back.js). Maybe we can get some information from there.

[2022-06-06 14:52] 0323pin commented on #49
Thanks! Closing this now.

[2022-06-06 14:52] #49 closed

[2022-06-06 19:53] 0323pin commented on #49
@aome510 `lyric_finder` feature off by default 😞

Concerns with the following paragraph,
_"Commercial Use: Unless otherwise expressly authorized herein or by Genius' express written consent, you agree not to display, distribute, license, perform, publish, reproduce, duplicate, copy, create derivative works from, modify, sell, resell, exploit, transfer or transmit for any commercial purposes, any p

[2022-06-07 20:35] 0323pin commented on #49
@aome510 I've finally fixed it. `lyric_finder` is off by default but, it's possible to enable it at compile time. As for `media-control`, I've submited a PR to `souvlaki` after test building it stand alone. Let's see what happens 😄
Hopefully, they don't switch to `zbus`

[2022-06-07 21:48] aome510 commented on #49
Wow, great to hear that. Thanks @0323pin 💪

[2022-06-19 17:50] elkrien opened #57 "Not working after update to 0.9.0"
Hi,
Unfortunately after updating to newest release 0.9.0 player freezes after start. Before updating everything worked fine.
This is what I see now:
![image](https://user-images.githubusercontent.com/78103450/174493863-4a5d1328-02b3-4b7a-8cc2-54336c14826f.png)

When I press any key it is not working.
Here is backtrace log:
[code]
and log (I have deleted client ID after pasting here):
[code]

[2022-06-19 17:59] aome510 commented on #57
hi @elkrien, sorry to hear that. To help debugging, did it work now if you run the version `0.8.0`?

[2022-06-19 18:08] aome510 commented on #57
Also, can you checkout [this branch](https://github.com/aome510/spotify-player/tree/debug-issue-57), build/run the app, and send me the logs?

[2022-06-20 19:55] elkrien commented on #57
Yes, I downgraded to 0.8.0 and its working fine.

For `debug-issue-57` branch unfortunatelly the same problem as with 0.9.0. Logs:
backtrace
[code]
log:
[code]

[2022-06-20 21:42] aome510 commented on #57
Hmm this is really interesting. I don't really know why but the playlist URI returned from your client looks weird: "uri: "spotify:user:spotify:playlist:37i9dQZF1DXakrXW5YU9SI". I tried to listen to that playlist using [this link](https://open.spotify.com/playlist/37i9dQZF1DXakrXW5YU9SI) and the URI returned from my client is "spotify:playlist:37i9dQZF1DXakrXW5YU9SI". Not sure why there is an addi

[2022-06-20 21:49] aome510 commented on #57
@elkrien can you try to `debug-issue-57` branch again? Also, if the app doesn't freeze anymore, can you also try running `CurrentlyPlayingContextPage` command (default keymap: `g space`) to see if that also works?

[2022-06-21 16:29] elkrien commented on #57
Now works. CurrentlyPlayingContextPage also works.

[2022-06-21 21:45] #57 closed

[2022-06-22 00:54] aome510 commented on #57
Should be fixed in the new version `0.9.2`

[2022-06-30 13:21] bartlibert opened #59 "Allow configuring the ap_port"
The proxy at my work is really strict on outgoing ports. I see from the librespot logs that most of the time, for authentication, the ap tries to connect to a server using port 4070 (e.g. ap-gew1.spotify.com:4070). This times out in the end, because the port is blocked.

I did a quick hack here:
https://github.com/aome510/spotify-player/blob/52908a4d13a5cb72503a9eafa536e9a47e6f9a60/spotify_player/

[2022-06-30 14:27] aome510 commented on #59
Thanks for taking a look into this.

That should be easy. Will create a patch by EOD.

[2022-07-01 01:21] aome510 commented on #59
@bartlibert created the patch [here](https://github.com/aome510/spotify-player/pull/60). Can you check out the branch and run the app locally to see if the patch works.

`ap_port` is configurable by adding a `app_port={port}` line in your `app.toml`.

[2022-07-01 06:33] bartlibert commented on #59
I tested the port setting with this branch, and it works fine, thanks! I have no proxy available to test, so that part is untested, but I guess it's very similar, so it should work as well.

[2022-07-01 20:55] #59 closed

[2022-07-10 20:42] aome510 opened #62 "Offline mode"
It would be nice to add offline mode support mode for `spotify-player`.

Initial ideas:
- [ ] use embedded DB (`sqlite`) to store song's data/metadata
  - [`librespot`](https://github.com/librespot-org/librespot) already supports download tracks via audio caches (not sure about the integrability of the feature)
- [ ] add `--offline` option to run the app in offline mode

[2022-07-24 05:19] braheezy opened #64 "Release Binaries"
The current install for this program (if using Cargo) looks something like:
- Install Rust language support
- Install system library dependencies (`openssl`, `alsa-lib`, `libdbus`)
- Install `spotify_player` using Cargo
    - Bunch of crates are downloaded
    - Bunch of crates are compiled
    - If you're missing a system library, this is when you find out. Restart Cargo build after you've fixed

[2022-07-24 15:21] aome510 commented on #64
Thanks @braheezy for an amazing finding.

Adding binaries to release was mentioned a few times, I did look into this briefly before. However, as you already mention, it's not fully statically linked, so things may not work.

Dynamically link the binary provided in the docker image is simpler than dynamically linking the actual application because by default, the binary docker image doesn't include

[2022-07-24 23:46] braheezy commented on #64
Ahh. This is my lack of Rust showing. I see the language has all that built-in support for conditionally compiling. That might explain your `--no-default-features` flag in the Dockerfile(?). I might explore with building all features.

Exactly it's all about having multiple choices. I've been taking inspiration from how [bat provides targets](https://github.com/sharkdp/bat/releases). I was delight

[2022-07-29 03:30] braheezy commented on #64
I think a 100% static binary is off the table.

A few functions ultimately depend on dynamic linking because of the nature of what the functions do. [This post](https://stackoverflow.com/questions/15165306/compile-a-static-binary-which-code-there-a-function-gethostbyname/15165424#15165424) sums it up.

Functions:
- getgrouplist
- initgroups
- getgrgid_r
- getgrnam_r
- getpwnam_r
- getpwuid_r
- get

[2022-07-29 03:56] aome510 commented on #64
Hey @braheezy,

That's sad to hear :<. I planned to play around with `musl` after release [v0.9.4](https://github.com/aome510/spotify-player/releases/tag/v0.9.4). Thanks for the investigation, it did save me time then =).

Also, FYI, I added a `CD` workflow that will publish binaries whenever I release new version. You can find the prebuilt binaries in the release page (e.g [v0.9.4](https://github

[2022-07-29 03:56] #64 closed

[2022-07-30 04:09] Selmer443 opened #67 "Play/Pause icon"
I noticed recently spotify-player switched to this icon for me? Im not sure if im able to configure an option to switch the icon or not, just noticed it one day. I'll keep digging to see if I can change it but figured I'd ask to see if theres an easy fix.
![29-07-2022-21-08-34](https://user-images.githubusercontent.com/93581805/181871825-036d50c7-d78b-4e51-a955-441541f24e61.png)

[2022-07-30 05:00] aome510 commented on #67
Unfortunately, it’s not configurable atm. I can add a quick change to allow configure play/pause icons

[2022-07-30 05:00] aome510 commented on #67
Unfortunately, it’s not configurable atm. I can add a quick change to allow configure play/pause icons

[2022-07-30 15:28] #67 closed

[2022-07-30 15:29] aome510 commented on #67
Should be fixed by #68. Can you try the latest build of `master` and confirm that the icons are configurable by changing the [app.toml](https://github.com/aome510/spotify-player/blob/master/examples/app.toml) file?

[2022-07-30 21:43] Selmer443 commented on #67
yeah, im a bit unsure how to use #68 specifically. Is there a way to use it through the aur?

[2022-07-31 02:51] aome510 commented on #67
Hi @Selmer443, do you happen to have [Rust+Cargo](https://www.rust-lang.org/tools/install) installed in your system? If yes, you can test the latest build on `main` by building one:

1. Create a `.config/spotify-player/app.toml` config file and configure the play/pause icons:
[code]
2. Clone this repo and run a local build
[code]
3. Observe that the play/pause icons are changed compared to the def

[2022-07-31 06:42] Selmer443 commented on #67
works perfectly for me, just curious if I wanted to have easy access to running spotify-player like I was with the aur package making the command "spotify-player" available globally. Would I run a separate cargo command ? or will I have to navigate to the spotify-player folder each time i'd like to start the program.

[2022-07-31 16:01] aome510 commented on #67
Great to hear that.

`cargo run` should produce a binary in `target/debug/spotify_player`. You can link that binary to a folder in your path, e.g
[code]

Note that `cargo run` is a debug run/build, so if you want your app to run fast, you can build a `release` version. Same steps can be used here

[code]

[2022-08-04 07:47] 0323pin opened #69 "spotify_player fails to play any track, Spotify changes?"
@aome510

The player jumps through songs and when reaching the end of the list it starts over again. Killing the app is the only way out of this loop.

Attached the log file, although it generates several of these one after the other.

Backtraces are empty :(

ClientID has been hidden on the log file.

If you need to check my configurations see, https://codeberg.org/pin/leftwm-netbsd/src/branch/ma

[2022-08-04 14:33] 0323pin commented on #69
@aome510 just got confirmed that `ncspot` is behaving the same for a fellow NetBSD developer, that claims it was working yesterday but, not today. So, not an issue with `spotify-player`.
Are you aware of any changes at the Spotify end? Are you having any issues yourself?
I've merged the latest `librespot`, should that dependency be updated?

A lot of questions, I know.

[2022-08-04 23:19] aome510 commented on #69
I'm not. Just quickly tested with `0.9.3` on my local and still works. It also worked yesterday for me.

I don't know there is a new update for `librespot`. I can bump a new version.

My best guess is this is because of some Spotify client bug, so let's wait for a few days to see if the issue still persists.

[2022-08-05 08:29] 0323pin commented on #69
@aome510 Thanks for checking at your end, really appreciated.
I've tried today and it's still the same, I'll give it a few days.

The reason I was mentioning `librespot` is the ChangeLog provided with the release of v0.4.2, quoting

So, I thought this could be related. Anyway, `librespot` is preparing some major changes, I'd recommend to check it out, again quoting,

Shall I close this issue? I'm

[2022-08-05 11:49] Selmer443 commented on #67
thanks so much! sorry it took me a bit to get back to you. Only been using linux for a bit now but your comments are super helpful, ill make sure to read up more on linking things and use your method for now.

[2022-08-06 03:57] braheezy opened #70 "Dependency on Alsa libs but Rodio is default?"
Just curious why the `alsa` system library is needed when `rodio-backend` is the default audio choice? Thanks!

[2022-08-06 04:30] aome510 commented on #70
`rodio` uses [`cpal`](https://github.com/RustAudio/cpal) for playback control. `cpal` uses `alsa` to do audio I/O on Linux. That's the reason why `alsa` lib is needed, at least for Linux. `cpal` also supports `jack`, but rn for `spotify-player`, it's not configurable.

[2022-08-06 07:33] aome510 commented on #69
Ah, I see. Thanks for the information.

Let's close if for now. Will open again if I find any issues related to `spotify-player`

[2022-08-06 07:33] #69 closed

[2022-08-09 02:03] braheezy commented on #70
Gotcha. Thanks for the info!

[2022-08-09 04:35] #70 closed

[2022-08-10 05:56] 0323pin commented on #69
@aome510 Found the issue. It has been in front of my eyes all the time. From `ncspot`release notes

Should fix ChannelError issues (ncspot skipping through all tracks) which were previously fixed with a workaround in /etc/hosts (https://github.com/hrkfdn/ncspot/issues/864

See the referenced issue and https://github.com/librespot-org/librespot/issues/972 on `librespot`.

Locally adding `104.199.65

[2022-08-10 06:10] aome510 commented on #69
@0323pin Thanks for the context. Great to know that it's now fixed. I'll release a new version soon with the deps upgrade

[2022-08-10 06:25] 0323pin commented on #69
Thanks!
I've posted a brief note for NetBSD users, https://mail-index.netbsd.org/pkgsrc-users/2022/08/10/msg036056.html
I want to avoid complains, as I'm the maintainer of all the Spotify clients 😄

[2022-08-10 13:52] aome510 commented on #69
@0323pin release new version [`0.9.5`](https://github.com/aome510/spotify-player/releases/tag/v0.9.5) with the `librespot` upgrade. I also specify the latest build of `souvlaki` in [Cargo.toml](https://github.com/aome510/spotify-player/blob/v0.9.5/spotify_player/Cargo.toml#L40), so you can build the app with `media-control` feature. Please lmk if something doesn't work.

[2022-08-10 15:53] 0323pin commented on #69
@aome510 Thanks! Unfortunately, pulling `souvlaki` from git is not such a good idea. Within pkgsrc distfiles should not be pulled from the internet at compile time and builds should be done in offline mode, so I hit the following error,

[code]

I can patch this but, have no time for it today.

[2022-08-10 18:54] 0323pin commented on #69
@aome510 ok, just a few hours after and not tomorrow 😄
I couldn't resist.

All good, no hacks in `/etc/hosts` needed anymore and I can listen to music again.
Thank you!
I'll merge this on the main repo before  sleeping tonight.

[2022-08-11 05:06] 0323pin commented on #69
I know this maybe unrelated but, I didn't want to create a new issue.
Yesterday, I streamed music without an itch for over an hour.
Today, I mostly get `No playback found. Please make sure there is a running Spotify client and try to connect to it using the 'SwitchDevice' command.`

Sometimes it works but mostly it doesn't and I get that error.

[spotify-player-22-08-11-06:57.log](https://github.c

[2022-08-11 05:21] aome510 commented on #69
Did you get that during startup or after using the app for a while?

I just look into the log,

it seems it failed to find a device to connect to on startup, which can be because of
1. initializing the integrated device failed
2. initializing the integrated device succeeded but the device wasn't shown up in the device list when the `get_device` API is called

To confirm 1, did you get any backtrac

[2022-08-11 05:36] 0323pin commented on #69
@aome510 Thanks! This happens at startup, as you already figured out.
I only use the integrated device, I've never used the app to control another running device. Yes, I do get backtraces but, they are empty.

Pressing `D` shows an empty list, as I only use the integrated device.
Could it be `librespot` failing to start?

[2022-08-11 06:05] aome510 commented on #69
I guess it could be the case. But, it's pretty weird there is no error backtrace.

Even if you only use the integrated device, press `D` should also show that device unless you don't specify your own `client_id` in the `app.toml`. In that case, `get_device` always return empty.

Does this issue happen every time you open the app? Also, does press `R` (`RestartIntegratedClient` command) work?

[2022-08-11 06:14] 0323pin commented on #69
I've logged in on my working Windows machine on chrome, then launched the app on NetBSD and I can control the device.

No, sometimes it works as expected.

Logged off in Windows and re-launched the player. Got the same error but, got the device in the list when pressing `D`.
Killed and restarted the app 6 times and twice it worked as expected.

This is though to debug.

[2022-08-11 06:17] 0323pin commented on #69
When failing it always generates a backtrace,

![2022-08-11-081404_1366x768_scrot](https://user-images.githubusercontent.com/90570748/184074698-53c63332-c5ea-4323-97d4-3e23a4205275.png)

But these are all empty.

[2022-08-11 06:33] aome510 commented on #69
The app generates a backtrace file and a log file whenever it starts. Empty backtrace probably means no error.

Based on my experience, as I experienced a similar issue before [1]. This was more because,

The app starts by registering an integrated device then connecting to an available device. The connect process can fail if the newly registered device hasn't been notified to the Spotify server.

[2022-08-11 06:38] 0323pin commented on #69
Thank you for the explanation.
It's running now, playing music while I work on some documents.
I'll try `D` and `R` when this happens again or, I'll just restarts until it works.

Awesome but, no rush, it does work.

[2022-08-11 12:39] bartlibert opened #72 "Queue track"
One thing I really miss is the possibility to add a track or album to the queue.
Rspotify has support for this: [documentation](https://docs.rs/rspotify/0.11.5/rspotify/clients/oauth/trait.OAuthClient.html#method.add_item_to_queue), so I guess it should be possible?

It would be nice to just be able to press a key (spotify-tui uses 'z' for example, but anything else would be fine) and add the curr

[2022-08-13 04:55] aome510 commented on #72
Rspotify has support for this: [documentation](https://docs.rs/rspotify/0.11.5/rspotify/clients/oauth/trait.OAuthClient.html#method.add_item_to_queue), so I guess it should be possible?

Yeah, given the already supported API, adding a "add-to-queue" command should be easy.

I remembered that back then, I didn't implement queue-related features because spotify doesn't provide an API to get items in

[2022-08-20 07:51] aome510 commented on #72
@bartlibert sorry for the delay. I have implemented "add-track-to-queue" support in #73. You can initiate the action by calling either `ShowActionsOnSelectedItem` (on track) or `ShowActionsOnCurrentTrack` then finding `AddToQueue` action.

Currently, it only supports track as official API only supports track/episode, but can be extended to album, artist, etc. Before supporting those, I'm looking i

[2022-08-20 07:51] #72 closed

[2022-08-22 06:41] bartlibert commented on #72
@aome510 No need to apologize, the work you're doing here is high quality and always quick, thanks a lot!

[2022-08-23 12:59] LukeZBaker opened #74 "Wrong image rendering aspect ratio in Kitty"
Hi

I really like spotify-player. From my brief testing I think it's probably the best command-line Spotify client and fully warrants my star!

I have compiled the program with a few extras like image rendering which display as high res graphics in Kitty. But the images are displayed in the wrong aspect ratio in Kitty. They display in the correct aspect ratio in WezTerm but that terminal emulator

[2022-08-24 02:08] aome510 commented on #74
Hi @LukeZBaker,

Thanks for the kind words. Really appreciate it :).

Do you have an example picture of the incorrect rendering in Kitty?

Does `WezTerm` also display image in high res?

Goes back to Kitty, I won't have access to Linux machine for a while, so I don't really have a way to test it now. The example in [Image README section](https://github.com/aome510/spotify-player#image) is a good r

[2022-08-24 06:02] LukeZBaker commented on #74
Looking at the Image README section, I think the images there are also the wrong aspect ratio?

Here's how an album cover looks on WezTerm and Kitty respectively. WezTerm renders the image as a square, Kitty as a rectangle.

WezTerm
![WezTerm](https://user-images.githubusercontent.com/42400104/186341654-4816c7d1-e603-4db0-b00c-315dc9f339fb.png)

Kitty
![Kitty](https://user-images.githubusercontent

[2022-08-30 01:04] aome510 commented on #69
Thanks for letting me know. Will update the app shortly

[2022-08-30 03:04] aome510 commented on #74
@LukeZBaker,

Look forward to your blog!

I've added layout configs in #75. The cover image's rectangle size should be configurable through `cover_img_{width|length}` options. You can try to tweak the settings to see if it can fix the wrong rendering ratio.

Implemented in #76. Default bindings: `>` for seek forward and `<` for seek backward.

Please lmk if something doesn't work.

[2022-08-30 16:05] 0323pin commented on #69
@aome510 Take your time. This week I'm rather busy with real life work. I'm still doing package updates but, don't have that much time to play with package build options, even though it's not that difficult :)
Better focus on it when doing, so I don't miss anything.

[2022-09-01 06:37] LukeZBaker commented on #74
Thanks, after testing I confirm #75 and #76 work well.

[2022-09-01 11:19] aome510 commented on #74
Sounds good. I'll close this issue for now. Feel free to reopen it if encounter any issues.

[2022-09-01 11:19] #74 closed

[2022-09-03 22:36] Selmer443 opened #77 "Playerctl Volume Control + Possible Podcast Support?"
Hi, I've been using spotify-player for quite a while now, I think everything is great but podcast support would make the app even more complete in my opinion. The other thing I had a question about was volume control through playerctl, or any other way to control volume through the command line, I'm aware of an easy way to manage volume using https://gitlab.com/axdsop/nix-dotfiles/-/blob/master/Co

[2022-09-04 03:01] aome510 commented on #77
Hi @Selmer443, thanks for using the app :).

I haven't really used Podcast Spotify. That's why it wasn't supported in the first place. That said, adding one shouldn't be too difficult.

Regarding the volume control, `spotify_player` uses a third party library [`souvlaki`](https://docs.rs/souvlaki/latest/souvlaki/enum.MediaControlEvent.html) for external media control (play, pause, next, etc). As y

[2022-09-04 07:06] Selmer443 commented on #77
thanks, I will make sure to create an issue there, thanks again for the quick responses!

[2022-09-06 18:08] mariabug opened #78 "Failing to start playing with a large number of tracks"
Hi, I have been having an small issue with spotify-player. For some reason when I hit play in my liked tracks nothing plays at all. However  if I was already playing the liked tracks playlist in some other device, like my phone, and then just change to spotify-player, the playlist continue without any hitch, which is the roundabout I have been using.

Here is the log:

[spotify-player-22-09-06-11:

[2022-09-07 16:16] aome510 commented on #78
Hi @mariabug. Thanks for reporting. Judging from the log, it seems like the app couldn't start a playback \[1\] with too many tracks:
[code]

I'm not so sure how the official app handles this, maybe it uses an internal API different from what's exposed to the public. I'll think about implementing a hack to handle this case.

\[1\]: https://developer.spotify.com/documentation/web-api/reference/#/op

[2022-09-11 13:58] alosarjos opened #79 "Integrated device not shown up "fast enough" on startup"
Lately I've noticed that spotify-player is starting without picking the default device (Which is itself). In the config file is like this:

[code]

So whenever I open the player, I have to choose a device manually (There it's listed) and then I can play music. Is there some kind of race condition or something for picking the default device maybe?

[2022-09-11 17:44] aome510 commented on #79
@alosarjos can you share one example log of such case?

Does the app display something like *"No playback found. Please make sure there is a running Spotify client and try to connect to it using the `SwitchDevice` command."*?

[2022-09-11 18:02] alosarjos commented on #79
Sure, I remove some keys/ids I saw since I wasn't sure those should be "public" just in case

And yes, that is exactly the message it says.

[spotify-player-22-09-11-19:59.log](https://github.com/aome510/spotify-player/files/9543220/spotify-player-22-09-11-19.59.log)

[2022-09-11 18:03] alosarjos commented on #79
I'm assuming the issue comes from this info lines:

[code]

Where, for some reason the device is not showing up fast enough?

[2022-09-11 18:08] alosarjos commented on #79
The device is correctly initialized, it shows up if I open de device selector and it's also available on the phone app.

[2022-09-11 18:15] aome510 commented on #79
Thanks for the log and further investigation. Look like a known issue to me.

Yes, the reason is the new device is not shown up fast enough when calling `get_device` API for available devices, at least based on my understanding. I've encountered this issue a few times before. I also made some changes to make it happen less frequently, but I guess they're not enough.

Related discussion: https://gi

[2022-09-14 18:57] a1fishie opened #80 "tui freezes when closing as a scratchpad"
I have the spotify_player app integrated as a scratchpad as i find them very useful, my only problem with it so far is that it freezes when i hide the scratchpad and reopen it again.
Closing the scratchpad completely (with my kill keybind) makes it so that spotify_player won't launch again until i perform a reboot of my system
![image](https://user-images.githubusercontent.com/104651507/190239687-

[2022-09-15 01:57] aome510 commented on #80
I'm not really familiar with the scratchpad concept. Would you mind to further elaborate?

Also, if possible, can you include the log and backtrace of the app when freezing as described in https://github.com/aome510/spotify-player#logging?

[2022-09-15 07:24] a1fishie commented on #80
Yeah so, a scratchpad is basically a toggleable window in a window manager ( I use xmonad) , you press a keybind - it opens/closes and it functions like any other program, currently I have spotify-player in one as I find it useful.
https://hackage.haskell.org/package/xmonad-contrib-0.17.0/docs/XMonad-Util-NamedScratchpad.html < Link to more information

https://pastebin.com/NnbfFFPa
https://pasteb

[2022-09-15 14:39] aome510 commented on #80
https://pastebin.com/cR0fhePH

Thanks. However, I couldn't find anything wrong with the log. Can you record a screen of the freezing case?

I'm not familiar with xmonad, so not sure if the issue is related to `spotify_player`.

[2022-09-15 14:47] a1fishie commented on #80
Excuse the white noise.
I don't think its something to do with xmonad since both btop, and spotify-tui work just fine

https://user-images.githubusercontent.com/104651507/190434872-ddb76f4e-6a2b-42f0-84d0-15cc379bbb4d.mp4

[2022-09-15 16:55] aome510 commented on #80
I don't the above video works for me

[2022-09-16 10:48] a1fishie commented on #80
https://user-images.githubusercontent.com/104651507/190622551-e8232842-f17d-4d51-b3ef-d9a0a565f1c9.mp4

Does this one work for you?

[2022-09-16 12:46] elkrien commented on #80
I don't think it's the problem with Spotify-player. I use it as a scratchpad in LeftWM and Qtile and everything works fine.

[2022-09-16 12:50] elkrien commented on #79
Have the same problem with new version. I had this problem in the past where there was no option for default device. Then after implementing this option it was ok, now after update player is not reading my config. When I open player it starts playing on first device on the list (in my situation is Sony TV). It's very frustrating because it turns on tv every time I start player, then I need to chan

[2022-09-16 12:55] aome510 commented on #80
Thanks @elkrien for additional input.

@a1fishie the above video works for me. My best guest is that the reopening the scratchpad requires the app to re-communicate with kitty for image rendering. However, the communicate part is only done upon startup, so kitty won't be able to process the new request. I encountered a similar freeze before when first integrating image rendering.

So to confirm th

[2022-09-16 13:00] aome510 commented on #79
That's unfortunate it happens again. I'm currently implementing a proper fix (hope so) for this issue. Will ping you guys once it's ready

[2022-09-16 15:03] alosarjos commented on #79
@aome510 Sure thing. If you ping me with a branch or a commit I can give it a try before tagging the release if you need it. ;)

[2022-09-16 18:21] a1fishie commented on #80
Without image seemingly fixes the issue, thank you

[2022-09-16 18:25] aome510 commented on #80
@a1fishie thanks for the confirmation. I think it's possible to fix the issue with `image` feature and kitty for scratchpad. Just leave this issue as open, so we can track that.

[2022-09-16 22:41] aome510 commented on #79
@alosarjos @elkrien implemented the fix in https://github.com/aome510/spotify-player/pull/81. Can you check it out and try if the new changes fix this issue?

Basically, what I did is to add retries when connecting to the integrated device. That means it ensures that the integrated device is picked on startup but with delay.

Regarding the issue after update, I don't particularly know why the inte

[2022-09-17 05:27] alosarjos commented on #79
@aome510 For my is having a strange behaviour, I keep opening and closing the app and I've seen 3 things happening in all those tries:

1. Takes a bit of time, but finds the device
2. Keeps failing when looking for the device
3. Sometimes the playback info is shown (So, device is found) for a split second and then goes back to No playback found.

[2022-09-17 08:21] elkrien commented on #79
@aome510 It starts a lot slower now but works fine - no more turning on my TV :)

[2022-09-17 15:02] aome510 commented on #79
Interesting. Will take a look 👀

[2022-09-17 17:36] Rinkerbel commented on #78
Hey, just wanna say I'm experiencing the same thing.

If you really wanna listen to your liked songs, I've found a way to do it.
1. Start playing a random song on the terminal
2. Open Spotify on your phone
3. Use your phone as a controller for the session running in the terminal
4. Navigate to you liked songs on the phone and start playing them!

Trying to see the songs context won't work tho

[2022-09-17 18:24] aome510 commented on #78
Yeah, currently it's the only workaround to start liked song playback (with a large number of songs).

Official Spotify client seems to implement a **custom** playback context for liked songs. So using the `get_context` API to show the playing context won't work. This is similar to their queue playback context, e.g no public API to access.

One way to resolve this issue is actually implementing a

[2022-09-18 00:50] aome510 commented on #79
I also experience the same thing occasionally. Looking into the log in that case, it seems that the app displays the playback from the previous run, whose device is shut down but not updated in the Spotify server. Because there is already a running playback at startup, it doesn't try to connect to one. Then, when the shutdown event is known, the playback becomes empty.

I think this is also becaus

[2022-09-19 12:04] a1fishie opened #82 "adding to shared playlist"
I am part of a few shared playlists, by that I mean where the owner has enabled the "Collaborative Playlist" function, as seen below
![image](https://user-images.githubusercontent.com/104651507/191013171-12b58a42-afd9-474b-8998-263a1866eb73.png)
I was wondering if there's a possibility to add songs to playlists like that in spotify-player

[2022-09-19 15:32] aome510 commented on #82
I think it's possible. Currently, the `AddToPlaylist` action only lists the playlists owned by user.

For additional confirmation, are collaborative playlists listed in the **Playlists** tab of the **Library** page when you first open the app?

[2022-09-19 15:48] a1fishie commented on #82
They are, however it also includes playlist i have hearted

[2022-09-19 17:24] aome510 commented on #82
@a1fishie created #83. I couldn't test it as I don't have any collaborative playlists. Can you checkout the branch and run the app to test the new changes?

[2022-09-19 17:45] a1fishie commented on #82
Yeah, it seemingly works fine, thank you!

[2022-09-19 17:54] #82 closed

[2022-09-21 17:06] aome510 commented on #79
Should be fixed by #81. I'll close this for now. Feel free to re-open it if encounter any related issues.

[2022-09-21 17:06] #79 closed

[2022-11-14 05:41] arthurhawron opened #85 "How to shuffle"
This is probably stupid, but when I press shuffle keybind (C-s), it opens up a shortcut menu and there is no shuffle option. Can someone please clarify the shortcut?

[2022-11-14 15:04] aome510 commented on #85
which shortcut does it open? Is it similar to the one below?
<img width="794" alt="Screen Shot 2022-11-14 at 10 03 03 AM" src="https://user-images.githubusercontent.com/40011582/201693386-bbce0143-8539-4117-bbd1-dbeb1c2fd303.png">

If not, I guess `C-s` is probably the shortcut to open a shortcut menu for your terminal. You can bind `Shuffle` command to another key in your `.config/spotify-player/

[2022-11-15 09:44] arthurhawron commented on #85
I don't think it is a terminal shortcut menu, as it has details such as sorting by album and artist name. Here is an image
![file](https://user-images.githubusercontent.com/83101428/201886310-b59fe9de-8793-46de-af31-b20f128bb14b.png)

[2022-11-15 09:49] arthurhawron commented on #85
So I changed the keymap.toml so that the shortcut for shuffle was "s h", and now it shows up in the shortcut menu:
![file](https://user-images.githubusercontent.com/83101428/201887212-73aabbe3-9fdc-4c9b-85f1-0d4d9ff679fb.png)

[2022-11-15 09:49] #85 closed

[2022-11-16 01:41] aome510 commented on #85
Oh I see. I think it's because the app or the terminal doesn't recognize the `control-s` combination and it is parsed as a `s` key. That's why the shortcut menu for commands with `s` key prefix is shown. One possible workaround is to change the shortcut like u already did. Hope that's not too much of a trouble.

[2022-11-19 20:27] diegoulloao opened #86 "what media control suppose to do?"
It's not clear what media control suppose to do, I have activated it in macos building the application with the media-control feature flag and adding enable_media_control set to true in the app.toml file inside .config.

It's not making anything... What is supposed to do?

By the way, excellent work, the best spotify tui I could find (I have tried a lot).

[2022-11-19 20:53] aome510 commented on #86
Thanks for the kind words 💪

It allows you to control the playback (next, prev, play, pause) using the media keys or macos's media control panel without interacting directly with the `spotify-player`. It should also work with bluetooth headphone/earphone's media controls.

To confirm that the media control actually works with `spotify-player`, you can check the macos's media control panel (it shou

[2022-11-19 20:54] diegoulloao commented on #86
For some reason it's not working. Should I restart my iterm2?
By the way, how I build the application passing multiple --features?

[2022-11-19 21:53] aome510 commented on #86
Not sure if `iterm2` is the problem here. Can you send me the latest application log (should be inside `.cache/spotify-player`)?

You can do it by passing `--features` multiple times. For example, to build app with `image` and `lyric_finder` features enabled.

[code]

[2022-11-19 23:03] diegoulloao commented on #86
I understand...

Now it's working, my mistake. I put it inside the device section.

Thanks for the help.

[2022-11-19 23:09] aome510 commented on #86
Great to hear that. I'll close this issue for now.

[2022-11-19 23:09] #86 closed

[2022-11-19 23:36] diegoulloao opened #87 "add to a new playlist / create a playlist?"
I was trying to add a song to a new playlist but I couldn't find the option. Also I think isn't possible to create a new playlist from the user playlist view.

Is there a way to do it?

Sorry for open 2 bugs in 1 day.

[2022-11-19 23:51] aome510 commented on #87
No problem lol.

Currently, iirc, `spotify-player` doesn't support creating a new playlist. It does support adding song to already existed playlist, which can be triggered by `ShowActionsOnSelectedItem` or `ShowActionsOnCurrentTrack` commands. You can then choose `AddToPlaylist` action from the popup list

[2022-11-20 00:08] diegoulloao commented on #87
It would be nice to add support to it 😁

[2022-11-20 00:09] aome510 commented on #87
It should be easy to implement. However, I currently don't have much time as I'm quite busy with school. PRs are welcome though 💪

[2022-11-20 00:17] diegoulloao commented on #87
I would like to but I don't know a word of Rust.

Interested in learning btw 👀

[2022-11-20 04:10] arch-btw opened #88 "Repeat a single track"
Hello :)

Thank you very much for this great project.

I was wondering if it's possible to repeat a single track? So far, I only found these 2 options:

1) Repeat context
2) Off

Thank you for your help!

[2022-11-20 06:25] aome510 commented on #88
Hi @arch-btw, hope u like `spotify-player`. It's not possible to repeat single track if u play music through the integrated player. This is [a well-known issue](https://github.com/librespot-org/librespot/issues/984) of `librespot`, which is the library I use to implement the integrated player. Note that u can still repeat a single track if u play another client and use `spotify-player` like a remo

[2022-11-25 16:46] AntonHermann commented on #80
I've got the same issue (i guess), and running `strace` shows that it seems to hang on opening temp files:
[code]
This goes on for a random sequence of numbers and letters. Maybe some cleanup didn't run?
Removing all those files resolved the issue for me

Haven't got time to see what `spotify-player`s logging reports, maybe I can check that later/the next time this issue appears

[2022-11-25 22:13] aome510 commented on #80
hi @AntonHermann, thanks for reporting. Just want to clarify, did u also use **scratchpad** as described in the initial discussion in this issue or did u encounter a freeze in general, which may be a result of a potential deadlock?

[2022-11-25 23:54] AntonHermann commented on #80
No, for me it happened in a regular kitty window

[2022-11-26 04:22] aome510 commented on #80
Got it, thanks for the clarification. I guess the cause can be a subtle concurrent bug. I can take a look when I'm less busy. In the meantime, hope that this doesn't happen too frequently. Any details to help reproduce the bug is also appreciated.

[2022-11-30 01:29] Selmer443 opened #89 "dynamic config/theme reload?"
I was wondering if there is a way to have the config/theme of spotify-player reload when the app.toml file is changed? particularly when a theme is changed. I know the SwitchTheme command works great, however if there is any option to repeatedly scan for the theme and update it would be nice